<h1 class="fw-semibold mt-4">User Profile</h1>
<div class="container mt-4">
    <div class="card">
        <div th:if="${users}">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.username}"></td>
                    <td>
                            <span th:each="role : ${user.roles}">
                                <span th:text="${#strings.replace(role.role, 'ROLE_', '')}"></span>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <form th:action="@{/logout}" method="post" style="display: inline; margin-top: 20px;">
            <button type="submit" class="btn-logout">Logout</button>
        </form>
    </div>
</div>